<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/app.css" />
</head>
<body>
<header class="header">
    <h3></h3>
</header>

<div class="wrapper">
    <div class="container-fluid">
        <div class="row fill-h">
            <div class="col-lg-3 fill-h">
                <div class="xpanel-wrapper xpanel-wrapper-3">
                    <div class="xpanel">
                        <!-- 风险指数-->
                        <div class="fill-h" id="riskIndex"></div>
                    </div>
                </div>
                <div class="xpanel-wrapper xpanel-wrapper-3">
                    <div class="xpanel">
                        <!-- 环境监测 -->
                        <div class="fill-h" id="environmentMonitor"></div>
                    </div>
                </div>
                <div class="xpanel-wrapper xpanel-wrapper-3">
                    <div class="xpanel">
                        <!-- 其他信息-->
                        <div class="fill-h" id="otherInfo"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 fill-h">
                <div class="xpanel-wrapper xpanel-wrapper-1">
                    <div class="xpanel">
                        <!-- 地图散点 -->
                        <div class="fill-h" id="scatterMap"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 fill-h">
                <div class="xpanel-wrapper xpanel-wrapper-3">
                    <div class="xpanel">
                        <!-- 省份地图 -->
                        <div class="fill-h" id="provinceMap"></div>
                    </div>
                </div>
                <div class="xpanel-wrapper xpanel-wrapper-3">
                    <div class="xpanel">
                        <!-- 城市地图 -->
                        <div class="fill-h" id="cityMap"></div>
                    </div>
                </div>
                <div class="xpanel-wrapper xpanel-wrapper-3">
                    <div class="xpanel">
                        <!-- 区县地图 -->
                        <div class="fill-h" id="countyMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>